/* @import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --foreground-rgb: 0, 0, 0; */
  --background-start-rgb: #f67570;
  --background-end-rgb: rgb(246, 117, 112);
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --foreground-rgb: 255, 255, 255; */
    --background-start-rgb: rgb(246, 117, 112);
    --background-end-rgb: rgb(246, 117, 112);
  }
}

body {
  /* background-color: rgb(246,117,112); */
  background: linear-gradient(135deg, rgb(246, 117, 112) 0%, rgb(245, 83, 80) 100%);
  color: aliceblue; 
  font-family: 'Raleway', sans-serif;
}

@layer utilities {
  @layers responsive {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }
  }
}

input:focus, textarea:focus {
  outline: none;
  border-color: #f55350;
  box-shadow: 0 0 0 2px rgba(245, 83, 80, 0.4);
}

button:hover {
  background-color: #f55350;
}

.section-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; /* To stack children vertically */
}
