.accordion-item {
    border-bottom: 1px solid aliceblue;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    font-family: 'Raleway', sans-serif;
    transition: all 0.5s ease;

  }
  
  .accordion-item:last-child {
    border-bottom: none;
  }

  .accordion-item button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    text-align: left;
    color: aliceblue;
  }
  
.accordion-item button:focus {
    outline: none;
  }

  .accordion-item button .text-lg {
    font-size: 1.25rem;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;

  }

  .accordion-item button span:last-child {
    transition: transform 0.2s ease-in-out;
    font-size: 2rem;
  }
  
  .accordion-item .hidden {
    display: none;
  }
  
  .accordion-item .block {
    display: block;
    padding: 10px;
    color: aliceblue;
  }
  